/* @import "mediaquaries.css"; */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}
span{
    font-size: 0.9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* navigation */

nav{
    width: 100%;
    height: 16vh;
    background: #fff;
    color: rgb(43, 43, 104);
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
    position: fixed;
    padding: 1vh 8vw;
    z-index: 10;
}
nav img{
    height: 13vh;
    margin: auto 0;
    /* width: 124px; */
    width: auto;
}
nav .humbarg{
    display: none;
    height: 30px;
    width: 39px;
}
nav div{
    display: flex;

}
nav div ul{
    list-style: none;
    
    letter-spacing: 5px;
    
    display: flex;
    color: rgb(21, 21, 100);
    padding-right: 3vw;
}
nav div ul li .close-menu{
    height: 35px;
    width: auto;
    display: none;
}
nav div ul li{
    padding: 0 16px;
    /* font-size: 16px; */
}
nav div ul li img{
    height: 16px;
    width: auto;
    display: none;
}
nav div ul a{
    text-decoration: none;
    font-size: 1rem;
    transition: all .4s;
    height: 13vh;
    line-height: 16vh;
    font-weight: 500;
    
}
nav div ul a:hover{
    color: rgb(240, 240, 54);
}



/* main section */

#main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 5, 54 ,0.3),rgba(5, 4, 46, 0.7)),url("nature.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    display: flex;
    
}
#main div{
    display: flex;
    /* height: 50vh; */
    width: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#main div h1{
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
#main div p{
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    line-height: 23px;
    
}

#main div div{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    
}
#main div div a{
    margin: 1vh 2px;
    font-weight: bold;
    /* height: 37px; */
    text-transform: capitalize;
    /* width : 8rem; */
    text-decoration:none;
    border-radius: 5px;
    text-align: center;
    padding: 0 19px;
    line-height: 37px;
    /* padding: 0 auto; */
    
}
#main div div a.yellow{
    color: #fff;
    background:#fdc93b ;
    transition:all 0.3s ease;
}
#main div div a.yellow:hover{
    color:blue;
    background:#fff;

}
#main div div a.blue{
    color: #fff;
    background: rgb(21, 21, 100);
    
    transition: all .3 ease;
}
#main div div a.blue:hover{
    background: #fff;
    color: blue;

}

/* FEATURES */

#features{
    padding: 5vh 8% 0 8%;
    text-align: center;
}
#features > h1{
    
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 4vh;
}
#features > p{
    margin-top: 5vh;
    font-size: 1.2rem;

}
#features .container{
    display: grid;
    margin-top: 10vh;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
#features .card{
    background: rgba(9, 5, 54 ,0.3);
    text-align: start;
    padding: 17px;
    
   
}
#features .card img{
    margin-top: 13px;
    
    height: 42px;
    width: 42px;
}
#features .card h1{
    text-transform: capitalize;
    font-weight: bold;
    padding: 13px 0 7px 0;
    font-size: 1.2rem;
}
#features .card p{
    font-weight: 400;
    font-size: 1rem;
}

/* COURSES */

#course{
    padding: 8vh 8vw 8vh 8vw;
    text-align: center;

}
#course h1{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2rem;

}

#course p{
    font-size: 1.2rem;
}

#course .courses{
    text-align: start;
    background: #f9f9ff;
    position: relative;
    height: 100%;  
}
#course .course-box{
    display: grid;
    margin-top: 10vh;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}
#course .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#course .courses .details{
    height: 40%;
    padding: 15px 15px 0 15px;
}
#course .courses .details span{
    color: rgba(0, 0, 0, .6);
}
#course .courses .details h6{
    font-size:1.5rem;
    text-transform: capitalize;
    font-weight: bold;
}
#course .courses .cost{
    background: rgb(74, 74, 136);
    color: white;
    border-radius: 50%;
    height:70px;
    width: 70px;
    position: absolute;
    bottom: 100px;
    right: 15px;
    line-height: 70px;
    text-align: center;
}

/* REGISTRATION */

#registration{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(99, 112, 168 , 0.5), rgba(81, 91, 233, 0.5)),url("images/registration.jpg");
    background-size: cover;
    background-position: center;
    padding: 6vh 8vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#registration .reminder{
    text-transform: capitalize;
    color: #fff;
}
#registration .reminder h1{
    color: #fff;
    font-weight: bold;
    /* font-size: 2rem; */
}
#registration .reminder p{
    text-transform: capitalize;
}
#registration .reminder .time{
    display: flex; 
    margin-top: 40px;
}
#registration .reminder .time div{
    text-align: center;
    padding: 13px 33px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31,38 , 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 0 5px 10px 5px;
}
#registration .registration-form{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(31,38 , 135, 0.37);
    padding: 40px;
    box-sizing: content-box;
}
#registration .registration-form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 240);
    outline: none;
}
#registration .registration-form input::placeholder{
    color: #413c3c;
    font-size:0.9rem;
    font-weight: 500;
    text-transform: capitalize;
}
#registration .registration-form .btn{
    margin-top: 15px;
    box-sizing: content-box;

}
#registration .registration-form .btn a{
    padding: 10px 15px;
    color: blue;
    background: yellow;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    transition:all 0.3s ease;
}
    #registration .registration-form .btn a:hover{
    color:blue;
    background:#fff;

}


/*EXPERT SECTION*/

#experts{
    font-size: 18px;
    padding: 8vh 8vw 8vh 8vw;
    text-align: center;
}
#experts h1{
    font-weight: 900;
    text-transform: capitalize;
    font-size: 2em;
}
#experts > p{
    margin-top: 2vh;
    font-weight: 500;
    text-transform: capitalize;
}
#experts .expert-box{
    display: grid;
    margin-top: 50px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
#experts .expert-box .profile{
    background: #fafaf1;
    padding:30px 10px;
}
#experts .expert-box .profile img{
    border-radius: 50%;
    border: 3px solid rgba(9, 5, 54 ,0.3);
    height: 150px;
    width: 150px;
}
#experts .expert-box .profile h6{
    font-size: 1em;
    margin-top: 1vh;
}
#experts .expert-box .profile p{
    text-transform: capitalize;
}

/* FOOTER */


footer{
    padding: 8vh 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-transform: capitalize;
    align-items: flex-start;
}
footer .footer-col{
    text-align: center;
    padding-bottom: 40px;
    
}
footer .footer-col h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
    
}
footer .footer-col li{
    list-style: none;
    padding: 10px 0;
    font-size: 15px;
    color: #7b838a;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer .footer-col li:hover{
    color: rgb(241, 240, 245);
    
}
footer .footer-col p{
    color: #7b838a;
    text-transform:lowercase;
}
footer .footer-col .subscribe{
    margin-top: 20px;
}
footer .footer-col .subscribe input{
    width: 220px;
    padding: 15px 12px;
    background-color: #334f6c;
    color: #fff;
    border: none;
    outline: none;
}
footer .footer-col .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: #fdc93b; 
    padding:15px 12px;
    color: #2c2c2c;
    font-weight: 600;
    transition: 0.3s ease;

}
footer .footer-col .subscribe a:hover{
    color: rgb(21, 21, 100);
    background-color: #fff;
}

